root: {
  /* copy from inspect */
  --color-menuBg: #000000;
  --color-reverseMainBg: #e5ebf5;
  --color-secondaryBg: #000000;
  --color-tradeFooterBorder: #000000;
  --color-surfaceBg: #15202b;
  --color-surfaceBgAlternative: #efeff2;
  --color-mainBrand: #1f73b7;
  --color-mainBrandAlternative: #1da0f2;
  --color-mainBrandHover: #0b2840;
  --color-secondaryBrand: #f7962d;
  --color-secondaryHover: #000d19;
  --color-headerColor: #15202b;
  --color-sidebar: #000306;
  --color-card: #141e29;
  --color-mainBg: #000910;
  --color-input: #15202b;
  --color-panel: #00050a;
  --color-slider: #989fb3;

  --color-border: #8a909570;
  --color-border30: #8a90954d;
  --color-accentHover: #7b849d;
  --color-mainText: #f7f7f7;
  --color-secondaryText: #4d5366;
  --color-mainTextReverse: #04091a;
  --color-onPrimaryText: #ffffff;
  --color-accent: #848e9c;
  --color-componentGrayAlternative: #989fb3;
  --color-disabledText: #474f66;
  --color-disabledInput: #191e23;
  --color-disabledButton: #38414b;
  --color-primaryDisabledButton: #2196f320;
  --color-componentGray: #292f40;
  --color-successBg: #17e5a1;
  --color-successText: #13bf86;
  --color-successBorder: #13bf86;
  --color-onSuccess: #ffffff;
  --color-errorBg: #e83946;
  --color-errorText: #f23d3d;
  --color-errorBorder: #f23d3d;
  --color-onError: #ffffff;
  --color-errorBgHover: #f64754;
  --color-positive: #0f996b;
  --color-negative: #e83946;
  --color-constantDark: #000910;
  --color-constantLight: #fafdfe;
  --color-warning: #ffc20d;
  --color-pending: #ffefca08;
  --color-onPending: #ffcc85;
  --color-mainLinearGradient: linear-gradient(#000910, #000910);
  --color-tradeBg: #141e29;
  --color-tradeBorder: #1f2126;
  --color-tradeSecondary: #0f171e;
  --color-surfaceSecond: #15202b;
  --color-alertBg: #f7962d1a;
  --color-cardBg: #000;
  --color-darkSurface: #0c1319;
  --color-item: #000306;
  --color-chart1: #12456d;
  --color-chart2: #0f8c6e;
  --color-chart3: #f7962d;
  --color-chart4: #e83946;
  --color-chart5: #1f73b7;
  --color-card2: #000306;
  --color-buttonText: #fff;
  --color-placeholder: #5c5f5d;
  --color-dropdown: #212b36;
  --color-innerCard: #2c3640;
  --color-alternativeAccent: #848e9c;
  --color-select: #0f171e;
  --color-marketGreenSmall: #8cbf84;
  --color-marketGreenMedium: #5c8456;
  --color-marketGreenHigh: #315c32;
  --color-marketRedSmall: #ba4a45;
  --color-marketRedMedium: #9d2f29;
  --color-marketRedHigh: #d61f1f;
  --color-rowTitle: #2196f320;
  --color-rowValue: #202930;
  --color-swapYellow: #fcd434;
  --color-alertBox: #04101a;
  --color-pwaMainBackground: #000910;
  --color-pwaOnMainBackground: #f8f9fa;
  --color-pwaTradeBackground: #161a1e;
  --color-pwaReverseMainBackground: #f8f9fa;
  --color-pwaOnReverseMainBackground: #121212;
  --color-pwaPrimary: #1f73b7;
  --color-pwaPrimaryDisabled: #2196f320;
  --color-pwaOnPrimary: #ffffff;
  --color-pwaPrimaryDark: #1f73b7;
  --color-pwaSecondary: #474d57;
  --color-pwaOnSecondary: #f5f7fa;
  --color-pwaOnLightBackground: #5e6673;
  --color-pwaPositive: #0ecb81;
  --color-pwaPositive20: #033027;
  --color-pwaPositiveHover: #2ed191;
  --color-pwaNegative: #e83946;
  --color-pwaBackground2: #1b1c23;
  --color-pwaError: #e83946;
  --color-pwaError20: #2e121b;
  --color-pwaAccent: #848e9c;
  --color-pwaAccentLight: #848e9c;
  --color-pwaAccent2: #a8afb9;
  --color-pwaBorderColor: #202930;
  --color-pwaSuccess: #1f73b7;
  --color-pwaWarning: #ff6700;
  --color-pwaHint: #efc910;
  --color-pwaConstantWhite: #ffffff;
  --color-pwaConstantDark: #000000;
  --color-pwaHoverActive: #2b3139;
  --color-pwaSurface: #15202b;
  --color-pwaGold: #ffb700;
  --color-pwaLightBlue: #2196f3;
  --color-pwaTransparent: transparent;
  --color-pwaMarketGreenSmall: #8cbf84;
  --color-pwaMarketGreenMedium: #5c8456;
  --color-pwaMarketGreenHigh: #315c32;
  --color-pwaMarketRedSmall: #ba4a45;
  --color-pwaMarketRedMedium: #9d2f29;
  --color-pwaMarketRedHigh: #d61f1f;
  --color-pwaAlertBox: #04101a;
  --color-pwaSurfaceDark: #1d2d3c;
  --color-pwaChartScatter: #1fb7af;
  --color-pwaChartSelectedScatter: #af1fb7;
  --color-pwaDisabledTextColor: #4bcffa66;
  --color-pwaFaqWarning: #ffb545;
  --color-ticketMain: #00111f;
  --color-ticketSecondary: #00213a;
  --color-ticketMainHover: #000b16;
}
